---
---

html, body
	height: 100%
	margin: 0

body
	display: flex
	flex-flow: column

header
	flex: 0 1 50px
	background-color: #2196F3
	box-shadow: 0 1px 5px
	z-index: 100

#map
	flex: 1 1 auto


.switch
	position: relative
	display: inline-block
	width: 60px
	height: 34px

	input
		display: none

	.slider
		position: absolute
		cursor: pointer
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #ccc
		transition: .4s

		&:before
			position: absolute
			content: ""
			height: 26px
			width: 26px
			left: 4px
			bottom: 4px
			background-color: white
			-webkit-transition: .4s
			transition: .4s

	input:checked + .slider
		background-color: #2196F3


	input:focus + .slider
		box-shadow: 0 0 1px #2196F3


	input:checked + .slider:before
		transform: translateX(26px)
